*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, #app {
  width: 100%;
}

body {
  background: #e1e1e1;
  color: #1e1e1e;
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

#app {
  max-width: 780px;
  margin: auto;
}


.current-moods {
  h2 {
    margin: 1rem 0 1rem 0;
  }
  table {
    border-collapse: collapse;
    margin: 1rem;
    thead {
      th {
        text-align: left;
        padding: 5px;
        border: 1px solid darkgray;
        width: 10rem;
      }
    }
    tbody {
      td {
        padding: 5px;
        border: 1px solid darkgray;
      }
    }
  }
}

.login-input, .mood-input {
  margin: 1rem 0 1rem 0;
}

button {
  background-color: rgb(0, 123, 255);
  border-bottom-color: rgb(0, 123, 255);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 123, 255);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(0, 123, 255);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(0, 123, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  text-align: center;
  text-transform: none;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  vertical-align: middle;
  white-space: nowrap;
  -moz-user-select: none;
}